# python数据清洗

## 1、数据的读取

In [2]:
#导入相应的包
import numpy as np
import pandas as pd

In [4]:
#导入数据集
df = pd.read_csv('./pandas_exercise/pandas data/taobao_data.csv')

In [5]:
#查看数据集形状
df.shape

(100, 5)

In [6]:
#快速了解数据的结构
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
宝贝     100 non-null object
价格     100 non-null float64
成交量    100 non-null int64
卖家     100 non-null object
位置     100 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [7]:
#快速查看数据的描述性统计信息
df.describe()

               价格          成交量
count  100.000000    100.00000
mean   231.669000   6388.93000
std    130.971061   2770.07536
min     29.000000   3956.00000
25%    128.750000   4476.50000
50%    198.000000   5314.50000
75%    298.000000   7053.75000
max    698.000000  16647.00000

行的选择 ——三种方法选取前5行

In [8]:
df.head()

                                 宝贝     价格    成交量       卖家  位置
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏

In [9]:
df[:5]  #选择0~4行

                                 宝贝     价格    成交量       卖家  位置
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏

In [10]:
df.iloc[0:5] #选择0~4行

                                 宝贝     价格    成交量       卖家  位置
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏

In [11]:
df.iloc[:5,:] #选择前5行

                                 宝贝     价格    成交量       卖家  位置
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏

In [12]:
df.loc[:4,:] #选择前5行

                                 宝贝     价格    成交量       卖家  位置
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏

列的选择——三种方法选取前2列

In [13]:
df[['宝贝','价格']].head(2)

                               宝贝     价格
0  新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1  中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0

In [14]:
df.loc[:,['宝贝','价格']].head(2)

                               宝贝     价格
0  新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1  中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0

In [15]:
df.iloc[:,:2].head(2)

                               宝贝     价格
0  新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1  中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0

区域块的选择——三种方法选择前3行，前2列

In [16]:
df.iloc[:3,:2]  
# 选择前3行，前2列

                                 宝贝     价格
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0

In [17]:
df.loc[0:2,['宝贝','价格']]
# 0:2表示行的标签

                                 宝贝     价格
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0

In [18]:
df['销售额'] = df['价格'] * df['成交量']
df.head(2)

                               宝贝     价格    成交量       卖家  位置        销售额
0  新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
1  中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海  4016870.0

- 增加分析的条件，价格>=100,成交量>=8000的商品信息

In [19]:
df['成交量'] >=8000

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
Name: 成交量, Length: 100, dtype: bool

In [20]:
df['价格']>= 100

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28    False
29     True
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76    False
77     True
78     True
79    False
80     True
81    False
82     True
83     True
84     True
85     True
86    False
87     True
88    False
89     True
90     True
91     True
92     True
93     True
94     True
95     True
96     True
97     True
98     True
99     True
Name: 价格, Length: 100, dtype: bool

In [21]:
#和关系的集合逻辑
df[(df['价格']>=100) & (df['成交量']>=8000)]

                                     宝贝     价格    成交量        卖家  位置        销售额
1        中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045    夏洛特的文艺  上海  4016870.0
2      母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458     云新旗舰店  江苏  4010484.0
3      母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340     韶妃旗舰店  浙江  3721860.0
5    中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0  12664    依安雅旗舰店  江苏  2507472.0
6     妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装  199.0  12398    千百萌旗舰店  湖北  2467202.0
7     中老年女装夏季T恤雪纺衫妈妈装夏装套装短袖中年妇女40-50岁t恤  288.0  12087  zxtvszml  江苏  3481056.0
8      妈妈夏装两件套母亲节衣服老人上衣60-70岁人夏季中老年女装套装  298.0  11655     ceo放牛  江苏  3473190.0
9         中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套  189.0  11632     简港旗舰店  上海  2198448.0
10     母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣  258.0  11568     朵莹旗舰店  浙江  2984544.0
11      母亲节衣服中老年人女装奶奶短袖两件套中年40岁胖妈妈装夏装套装  177.0  11125      依诗曼妮  江苏  1969125.0
12     母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装套装上衣两件套  298.0  10366     夕牧旗舰店  江苏  3089068.0
13      母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装雪纺两件套装  124.0   9113   绰美佳人旗舰店  江苏  1130012.0
14       中老年女装春装真两件套长袖针织开衫外套妈妈装夏装短袖T恤上衣  138.0   9060       冉献兵  浙江  1250280.0
15     母亲节衣服夏季中年女装夏装短袖40-50岁妈妈装中老年女装连衣裙  298.0   8843    蒲洛妃旗舰店  江苏  2635214.0
16      母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服  318.0   8580    薇诗琪旗舰店  湖北  2728440.0
17    中老年人女装妈妈装夏装大码短袖T恤中年妇女夏季40-50岁新款上衣  298.0   8319     网罗世间物  江苏  2479062.0
18  中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套  399.0   8072    玛依恋旗舰店  江苏  3220728.0

In [22]:
df[~(df.价格<100) & ~(df.成交量 < 8000)]  # 取相反

                                     宝贝     价格    成交量        卖家  位置        销售额
1        中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045    夏洛特的文艺  上海  4016870.0
2      母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458     云新旗舰店  江苏  4010484.0
3      母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340     韶妃旗舰店  浙江  3721860.0
5    中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0  12664    依安雅旗舰店  江苏  2507472.0
6     妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装  199.0  12398    千百萌旗舰店  湖北  2467202.0
7     中老年女装夏季T恤雪纺衫妈妈装夏装套装短袖中年妇女40-50岁t恤  288.0  12087  zxtvszml  江苏  3481056.0
8      妈妈夏装两件套母亲节衣服老人上衣60-70岁人夏季中老年女装套装  298.0  11655     ceo放牛  江苏  3473190.0
9         中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套  189.0  11632     简港旗舰店  上海  2198448.0
10     母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣  258.0  11568     朵莹旗舰店  浙江  2984544.0
11      母亲节衣服中老年人女装奶奶短袖两件套中年40岁胖妈妈装夏装套装  177.0  11125      依诗曼妮  江苏  1969125.0
12     母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装套装上衣两件套  298.0  10366     夕牧旗舰店  江苏  3089068.0
13      母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装雪纺两件套装  124.0   9113   绰美佳人旗舰店  江苏  1130012.0
14       中老年女装春装真两件套长袖针织开衫外套妈妈装夏装短袖T恤上衣  138.0   9060       冉献兵  浙江  1250280.0
15     母亲节衣服夏季中年女装夏装短袖40-50岁妈妈装中老年女装连衣裙  298.0   8843    蒲洛妃旗舰店  江苏  2635214.0
16      母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服  318.0   8580    薇诗琪旗舰店  湖北  2728440.0
17    中老年人女装妈妈装夏装大码短袖T恤中年妇女夏季40-50岁新款上衣  298.0   8319     网罗世间物  江苏  2479062.0
18  中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套  399.0   8072    玛依恋旗舰店  江苏  3220728.0

In [23]:
# 将位置设置为索引
df1=df.set_index('位置')
df1.head(2)

                                宝贝     价格    成交量       卖家        销售额
位置
江苏  新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  1648053.0
上海  中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  4016870.0

In [24]:
df3=df.set_index(['位置','卖家'])
# 设置‘位置’与‘卖家’为索引
# 并根据位置进行排序
df3.head()

                                          宝贝     价格    成交量        销售额
位置 卖家
江苏 夏奈凤凰旗舰店    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  1648053.0
上海 夏洛特的文艺     中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045  4016870.0
江苏 云新旗舰店    母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458  4010484.0
浙江 韶妃旗舰店    母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340  3721860.0
江苏 千百奈旗舰店   中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   763401.0

In [25]:
#方法一  删除宝贝和卖家这两列 
new_df=df.copy()
new_df.head()

                                 宝贝     价格    成交量       卖家  位置        销售额
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海  4016870.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏  4010484.0
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江  3721860.0
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏   763401.0

In [26]:
del new_df['宝贝']

In [27]:
del new_df['卖家']

In [28]:
new_df.head()

      价格    成交量  位置        销售额
0   99.0  16647  江苏  1648053.0
1  286.0  14045  上海  4016870.0
2  298.0  13458  江苏  4010484.0
3  279.0  13340  浙江  3721860.0
4   59.0  12939  江苏   763401.0

In [29]:
#方法二

In [30]:
df_deal=df.drop(['宝贝','卖家'],axis=1)

In [31]:
df_deal.head()

      价格    成交量  位置        销售额
0   99.0  16647  江苏  1648053.0
1  286.0  14045  上海  4016870.0
2  298.0  13458  江苏  4010484.0
3  279.0  13340  浙江  3721860.0
4   59.0  12939  江苏   763401.0

## 数据的分组

In [32]:
df.head()

                                 宝贝     价格    成交量       卖家  位置        销售额
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海  4016870.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏  4010484.0
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江  3721860.0
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏   763401.0

In [33]:
# 查看值的数量
df['位置'].value_counts()

江苏    44
浙江    28
上海    10
湖北     7
北京     6
河北     3
河南     1
广东     1
Name: 位置, dtype: int64

In [34]:
len(df['位置'].value_counts())
# 或者
df['位置'].nunique()

8

In [309]:
# 将所需的字段作为索引，然后使用汇总函数进行汇总计算

In [36]:
#根据位置进行分组，计算成交量的均值,根据Dataframe进行分组
df.groupby('位置').mean()

            价格          成交量           销售额
位置
上海  161.200000  6801.500000  1.256211e+06
北京  150.000000  4519.333333  6.846817e+05
广东  326.000000  5164.000000  1.683464e+06
江苏  223.611364  7030.909091  1.551363e+06
河北  152.000000  6050.666667  9.224000e+05
河南  119.000000  5986.000000  7.123340e+05
浙江  290.428571  5779.500000  1.650173e+06
湖北  254.714286  6182.000000  1.536022e+06

In [38]:
df.groupby('位置')['成交量'].mean()

位置
上海    6801.500000
北京    4519.333333
广东    5164.000000
江苏    7030.909091
河北    6050.666667
河南    5986.000000
浙江    5779.500000
湖北    6182.000000
Name: 成交量, dtype: float64

In [40]:
# 根据位置进行索引，然后求价格的均值，成交量的总和，销售额的均值
df.groupby(df['位置']).agg({'价格':'mean','成交量':sum,'销售额':'mean'})
# agg是聚合函数 aggregation的缩写

            价格     成交量           销售额
位置
上海  161.200000   68015  1.256211e+06
北京  150.000000   27116  6.846817e+05
广东  326.000000    5164  1.683464e+06
江苏  223.611364  309360  1.551363e+06
河北  152.000000   18152  9.224000e+05
河南  119.000000    5986  7.123340e+05
浙江  290.428571  161826  1.650173e+06
湖北  254.714286   43274  1.536022e+06

In [41]:
df.groupby(['位置','卖家']).mean()

                            价格           成交量           销售额
位置 卖家
上海 xudong158         99.000000   4572.000000  4.526280e+05
   佳福妈妈商城            29.000000   4752.000000  1.378080e+05
   夏洛特的文艺           286.000000  14045.000000  4.016870e+06
   妃莲慕旗舰店           133.000000   5377.500000  7.185050e+05
   婆家娘家商城           198.000000   5304.000000  1.050192e+06
   简港旗舰店            228.333333   8141.000000  1.754522e+06
   金良国际              49.000000   4164.000000  2.040360e+05
北京 bobolove987       98.000000   4261.000000  4.175780e+05
   hi大脚丫            138.000000   4460.000000  6.154800e+05
   taylor3699       100.000000   4271.000000  4.271000e+05
   wonwon942        108.000000   4415.000000  4.768200e+05
   凯飞服饰1717         168.000000   5209.000000  8.751120e+05
   妈妈装工厂店1988       288.000000   4500.000000  1.296000e+06
广东 安静式风格            326.000000   5164.000000  1.683464e+06
江苏 ceo放牛            298.000000  11655.000000  3.473190e+06
   kewang5188       198.000000   5348.000000  1.058904e+06
   wuweihua0809     168.000000   5641.000000  9.476880e+05
   zxtvszml         288.000000  12087.000000  3.481056e+06
   云新旗舰店            298.000000  13458.000000  4.010484e+06
   伊秋芙旗舰店           298.000000   4382.000000  1.305836e+06
   依人怡慧no1          108.000000   4163.000000  4.496040e+05
   依安雅旗舰店           198.000000  12664.000000  2.507472e+06
   依诗曼妮             177.000000  11125.000000  1.969125e+06
   便宜才是硬道理1234       59.900000   4421.000000  2.648179e+05
   千百奈旗舰店            59.000000  12939.000000  7.634010e+05
   名瑾旗舰店            228.000000   5506.000000  1.255368e+06
   夏奈凤凰旗舰店           99.000000  16647.000000  1.648053e+06
   夕牧旗舰店            298.000000  10366.000000  3.089068e+06
   妈咪衣橱纺            396.000000   6929.000000  2.743884e+06
   孝义妈妈装             98.000000   4382.000000  4.294360e+05
...                        ...           ...           ...
河北 艾尔梦艺娜旗舰店         129.000000   4309.000000  5.558610e+05
河南 z昊铭么么哒666        119.000000   5986.000000  7.123340e+05
浙江 mitchsheeps旗舰店   109.000000   5187.000000  5.653830e+05
   qianyaofushi888  398.000000   4054.000000  1.613492e+06
   showcai谷川专卖店     128.000000   5603.000000  7.171840e+05
   冉献兵              138.000000   9060.000000  1.250280e+06
   卧雪旗舰店            198.000000   7077.000000  1.401246e+06
   发财花旗舰店           558.000000   5918.000000  3.302244e+06
   妈妈之美服饰           198.000000   5647.000000  1.118106e+06
   拓芙尼旗舰店           333.500000   4675.500000  1.558977e+06
   朵莹旗舰店            268.666667   7319.000000  1.924099e+06
   步古旗舰店            177.000000   4502.000000  7.968540e+05
   浅恋旗舰店            228.000000   4076.000000  9.318190e+05
   潮流前线9170         638.000000   5561.000000  3.467668e+06
   爱米雪旗舰店           198.000000   5171.000000  1.023858e+06
   简狐旗舰店            698.000000   5197.000000  3.627506e+06
   胖织缘福旗舰店          263.000000   7147.000000  1.879661e+06
   芭蒂卡旗舰店           190.000000   4365.000000  8.293500e+05
   苏米唐旗舰店           228.000000   4925.000000  1.122900e+06
   若澜锦蒂旗舰店          195.000000   4000.000000  7.800000e+05
   陌小柒服饰旗舰店         168.000000   5580.000000  9.374400e+05
   韶妃旗舰店            279.000000  13340.000000  3.721860e+06
   香颜旗舰店            268.000000   4823.666667  1.276087e+06
湖北 sonmellny尚曼妮旗舰店  306.000000   4138.000000  1.266228e+06
   乔芙丽旗舰店           256.000000   5005.000000  1.281280e+06
   凯利娜格旗舰店          178.000000   4111.000000  7.317580e+05
   千百萌旗舰店           199.000000  12398.000000  2.467202e+06
   千香旗舰店            158.000000   5001.000000  7.901580e+05
   欧芮嘉旗舰店           368.000000   4041.000000  1.487088e+06
   薇诗琪旗舰店           318.000000   8580.000000  2.728440e+06

[85 rows x 3 columns]

In [42]:
df.groupby('位置').size()   # 返回分组个数大小

位置
上海    10
北京     6
广东     1
江苏    44
河北     3
河南     1
浙江    28
湖北     7
dtype: int64

In [43]:
df.groupby(['位置','卖家']).size().head(7)

位置  卖家
上海  xudong158    1
    佳福妈妈商城       1
    夏洛特的文艺       1
    妃莲慕旗舰店       2
    婆家娘家商城       1
    简港旗舰店        3
    金良国际         1
dtype: int64

In [24]:

df.groupby('位置').get_group('上海')

,宝贝,价格,成交量,卖家,位置,销售额
1,中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装,286.0,14045,夏洛特的文艺,上海,4016870.0
9,中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套,189.0,11632,简港旗舰店,上海,2198448.0
21,母亲节衣服夏季中老年女装夏装套装上衣40-50岁妈妈装T恤衫两件套,198.0,7466,简港旗舰店,上海,1478268.0
36,母亲节衣服妈妈装夏装套装40-50岁中年两件套中老年女装短袖雪纺,138.0,6037,妃莲慕旗舰店,上海,833106.0
49,中老年女装夏装套装加肥加大码T恤上衣妈妈装时尚短袖夏季两件套,298.0,5325,简港旗舰店,上海,1586850.0
50,中老年女装夏装连衣裙中年雪纺上衣妈妈装中长款40-50岁大码裙子,198.0,5304,婆家娘家商城,上海,1050192.0
64,中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套,29.0,4752,佳福妈妈商城,上海,137808.0
65,母亲节衣服妈妈装夏装套装短袖中年人40-50岁中老年女装T恤两件套,128.0,4718,妃莲慕旗舰店,上海,603904.0
68,中老年女装夏装短袖t恤衫中年妇女母亲节衣服妈妈装雪纺套装上衣,99.0,4572,xudong158,上海,452628.0
88,母亲节中老年女装夏装短袖40-50岁雪纺衫大码妈妈装T恤宽上衣套装,49.0,4164,金良国际,上海,204036.0

## 数据的分割与合并

- concat()函数
- merge()函数

In [44]:
df.head(3)

                                 宝贝     价格    成交量       卖家  位置        销售额
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海  4016870.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏  4010484.0

In [45]:
#把行索引为20-29，列名为位置和卖家的数据切出来
#方法一：

df1 = df.loc[20:29,['位置','卖家']]
df1

    位置        卖家
20  江苏  纳笛佳女装旗舰店
21  上海     简港旗舰店
22  浙江  潮流前线9170
23  浙江   胖织缘福旗舰店
24  浙江     卧雪旗舰店
25  江苏    衣之绒旗舰店
26  江苏    康乃馨老年装
27  江苏     妈咪衣橱纺
28  江苏    爱莱嘉旗舰店
29  江苏       高康洁

In [46]:
#方法二
df2 = df.loc[25:35,['卖家','价格','成交量']]
df2

                卖家     价格   成交量
25          衣之绒旗舰店  399.0  7046
26          康乃馨老年装  128.0  7002
27           妈咪衣橱纺  396.0  6929
28          爱莱嘉旗舰店   49.0  6816
29             高康洁  108.0  6795
30          蒲洛妃旗舰店  108.0  6755
31         悦薇孔雀旗舰店  298.0  6270
32          摩尼树旗舰店  198.0  6262
33          梵忆轩旗舰店  148.0  6224
34  loueddssd倍艾旗舰店  198.0  6168
35          蒲洛妃旗舰店  258.0  6085

In [28]:
# pd.merge()根据一个或多个key值，将dataframe连接合并
# pd.concat()沿着一个轴将多个对象堆叠起来
# combine_first()如果有缺失值，另外一个数据集根据对齐进行填充

In [47]:
pd.merge(df1,df2)#  默认inner 列方向拼接

   位置      卖家     价格   成交量
0  江苏  衣之绒旗舰店  399.0  7046
1  江苏  康乃馨老年装  128.0  7002
2  江苏   妈咪衣橱纺  396.0  6929
3  江苏  爱莱嘉旗舰店   49.0  6816
4  江苏     高康洁  108.0  6795

In [48]:
cols_1=df[:6][['宝贝','位置']]
cols_2=df[:6][['价格','成交量']]

In [49]:
cols_2

      价格    成交量
0   99.0  16647
1  286.0  14045
2  298.0  13458
3  279.0  13340
4   59.0  12939
5  198.0  12664

In [50]:
pd.concat([cols_1,cols_2],axis=1)

                                   宝贝  位置     价格    成交量
0      新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤  江苏   99.0  16647
1      中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  上海  286.0  14045
2    母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  江苏  298.0  13458
3    母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  浙江  279.0  13340
4    中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤  江苏   59.0  12939
5  中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  江苏  198.0  12664

### 数据的透视

In [53]:
import pandas as  pd
data = pd.read_csv(r'./pandas_exercise/pandas data/hz_weather.csv')

In [54]:
df = data.set_index('日期')
df.head(3)

            最高气温  最低气温  天气   风向  风力
日期
2017-01-01    17     7   晴  西北风  2级
2017-01-02    16     8  多云  东北风  2级
2017-01-03    15     8  多云  东北风  1级

In [61]:
#建立一个透视表：值是最高气温的平均值，天气为行索引，风力为列索引

# df1 = pd.pivot_table(df                     
#                      ,values=['最高气温']
#                      ,index=['天气']
#                      ,columns=['风力']
#                      ,aggfunc='max'         # 设置值的计算方式
#                      # fill_value='missing'  # 填充透视表中缺失值的方式，默认 NaN
#                      ,margins=True         # 统计每行每列的情况
#                      ,dropna=True          # 删除透视表中全部都为空值的列
#                      ,margins_name='总计'  # 改变统计行和列的名称
#                     )


pd.pivot_table(df,index=['天气'])
pd.pivot_table(df,index=['天气'],values=['最高气温'],columns=['风力'])
pd.pivot_table(df,index=['天气'],values=['最高气温'],columns=['风力'],fill_value= 0 )

           最高气温
风力           1级         2级         3级         4级  5级  6级  微风
天气
中雨     0.000000  10.500000  10.000000  20.000000   0   0   0
多云    11.615385  14.812500  17.750000  20.200000  16  25   0
小到中雨   0.000000  13.000000   0.000000   0.000000   0   0   0
小雨    10.400000  14.000000  10.333333  19.000000   0   0  13
晴     13.600000  16.909091  18.444444  25.000000   0  19  15
阴     13.000000  13.750000  10.250000  24.500000   0   0   0
阵雨     0.000000  16.500000  21.666667  23.666667  19   0   0
雨夹雪    0.000000   0.000000   0.000000   7.000000   0   0   0

## 缺失值、异常值、重复值的处理

In [62]:
data = pd.read_csv('./pandas_exercise/pandas data/hz_weather.csv')
data.head()

           日期  最高气温  最低气温    天气   风向  风力
0  2017-01-01    17     7     晴  西北风  2级
1  2017-01-02    16     8    多云  东北风  2级
2  2017-01-03    15     8    多云  东北风  1级
3  2017-01-04    15    11    小雨  西北风  2级
4  2017-01-05    13    11  小到中雨   北风  2级

In [63]:
data.isnull().sum()

日期      0
最高气温    0
最低气温    0
天气      0
风向      0
风力      0
dtype: int64

In [66]:
data = pd.read_csv('./pandas_exercise/pandas data/hz_weather.csv')

In [67]:
# 检查重复值，并计算重复值的比例
data['最高气温'].duplicated()

0      False
1      False
2      False
3       True
4      False
5      False
6      False
7       True
8       True
9      False
10     False
11     False
12     False
13      True
14      True
15      True
16      True
17      True
18      True
19     False
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28     False
29      True
       ...
88      True
89      True
90     False
91     False
92     False
93     False
94      True
95      True
96      True
97      True
98      True
99      True
100     True
101    False
102    False
103    False
104     True
105    False
106     True
107     True
108     True
109     True
110    False
111     True
112     True
113     True
114     True
115     True
116     True
117     True
Name: 最高气温, Length: 118, dtype: bool

In [69]:
d2=data.drop_duplicates('最高气温') 
# drop_duplicates删除

In [70]:
d2

             日期  最高气温  最低气温    天气   风向  风力
0    2017-01-01    17     7     晴  西北风  2级
1    2017-01-02    16     8    多云  东北风  2级
2    2017-01-03    15     8    多云  东北风  1级
4    2017-01-05    13    11  小到中雨   北风  2级
5    2017-01-06    12    10    小雨  东北风  1级
6    2017-01-07    11     9    中雨   北风  2级
9    2017-01-10     9     4    多云   北风  1级
10   2017-01-11     8     5    小雨   北风  1级
11   2017-01-12     7     4    小雨  西南风  1级
12   2017-01-13    10     1    多云   北风  1级
19   2017-01-20     6    -3     晴  东北风  3级
28   2017-01-29    20     4    多云   北风  3级
45   2017-02-15    18     7     晴   南风  1级
46   2017-02-16    19     9    小雨  西南风  2级
49   2017-02-19    21     7    多云  西南风  3级
75   2017-03-19    14    10    小雨   东风  1级
84   2017-03-28    22    12    多云  西南风  3级
90   2017-04-03    23    12    多云   东风  4级
91   2017-04-04    25    15    多云   南风  4级
92   2017-04-05    26    16     阴   北风  4级
93   2017-04-06    27    18    中雨   东风  4级
101  2017-04-14    28    16     晴   南风  3级
102  2017-04-15    31    17    多云   南风  3级
103  2017-04-16    30    21    阵雨  西南风  4级
105  2017-04-18    29    16     晴   北风  3级
110  2017-04-23    24    12     晴   东风  2级

## 文本字符串的处理

In [71]:
import numpy as np
import pandas as pd

In [73]:
df_pop=pd.read_csv('./pandas_exercise/pandas data//european_cities.csv')
df_pop.head()

   Rank       City            State Population Date of census/estimate
0     1  London[2]   United Kingdom  8,615,246             1 June 2014
1     2     Berlin          Germany  3,437,916             31 May 2014
2     3     Madrid            Spain  3,165,235          1 January 2014
3     4       Rome            Italy  2,872,086       30 September 2014
4     5      Paris           France  2,273,305          1 January 2013

In [75]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 5 columns):
Rank                       105 non-null int64
City                       105 non-null object
State                      105 non-null object
Population                 105 non-null object
Date of census/estimate    105 non-null object
dtypes: int64(1), object(4)
memory usage: 4.2+ KB

### 1 处理中间有，（）之类的数据：replace(',','')

In [76]:
df_pop['Population'][:3]

0    8,615,246
1    3,437,916
2    3,165,235
Name: Population, dtype: object

In [77]:
df_pop['Population'][0]

'8,615,246'

In [78]:
type(df_pop['Population'][0])  #  字符串类型

str

In [79]:
int(df_pop['Population'][0].replace(',',''))

8615246

实现方法一：

In [80]:
df_pop.shape[0]  #  多少行

105

In [81]:
#方法一：
li = []  # 放置最后结果
for i in range(df_pop.shape[0]):
    li.append(int(df_pop['Population'][i].replace(',','')))

In [82]:
li

[8615246,
 3437916,
 3165235,
 2872086,
 2273305,
 1883425,
 1794770,
 1746342,
 1744665,
 1729119,
 1602386,
 1407836,
 1332516,
 1291895,
 1246780,
 1175831,
 1092330,
 1034175,
 989845,
 909976,
 898095,
 852516,
 813562,
 790017,
 786424,
 760700,
 757655,
 709757,
 701350,
 701185,
 696676,
 677015,
 666058,
 664046,
 632432,
 616528,
 605523,
 604297,
 596550,
 594774,
 593682,
 575944,
 569884,
 566913,
 559440,
 557382,
 547631,
 547161,
 546451,
 537152,
 531562,
 530754,
 528014,
 527612,
 524619,
 514137,
 510909,
 510772,
 510610,
 495360,
 495121,
 486816,
 484344,
 469690,
 460354,
 441802,
 441354,
 434810,
 432451,
 417389,
 409211,
 407648,
 384202,
 382296,
 377207,
 378327,
 362286,
 362213,
 351629,
 348493,
 348120,
 343304,
 342885,
 341041,
 335819,
 334678,
 331606,
 330772,
 328841,
 328314,
 327627,
 326676,
 324576,
 323132,
 322751,
 322240,
 320229,
 319279,
 315576,
 311501,
 309869,
 309105,
 308735,
 308269,
 306888]

In [83]:
df_pop['Pop'] = li

In [84]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 6 columns):
Rank                       105 non-null int64
City                       105 non-null object
State                      105 non-null object
Population                 105 non-null object
Date of census/estimate    105 non-null object
Pop                        105 non-null int64
dtypes: int64(2), object(4)
memory usage: 5.0+ KB

In [85]:
df_pop.head()

,Rank,City,State,Population,Date of census/estimate,Pop
0,1,London[2],United Kingdom,"8,615,246",1 June 2014,8615246
1,2,Berlin,Germany,"3,437,916",31 May 2014,3437916
2,3,Madrid,Spain,"3,165,235",1 January 2014,3165235
3,4,Rome,Italy,"2,872,086",30 September 2014,2872086
4,5,Paris,France,"2,273,305",1 January 2013,2273305

实现方法二：

In [86]:
df_pop['Population'].apply(lambda x:int(x.replace(',','')))

0      8615246
1      3437916
2      3165235
3      2872086
4      2273305
5      1883425
6      1794770
7      1746342
8      1744665
9      1729119
10     1602386
11     1407836
12     1332516
13     1291895
14     1246780
15     1175831
16     1092330
17     1034175
18      989845
19      909976
20      898095
21      852516
22      813562
23      790017
24      786424
25      760700
26      757655
27      709757
28      701350
29      701185
        ...
75      378327
76      362286
77      362213
78      351629
79      348493
80      348120
81      343304
82      342885
83      341041
84      335819
85      334678
86      331606
87      330772
88      328841
89      328314
90      327627
91      326676
92      324576
93      323132
94      322751
95      322240
96      320229
97      319279
98      315576
99      311501
100     309869
101     309105
102     308735
103     308269
104     306888
Name: Population, Length: 105, dtype: int64

In [87]:
# 将每一行字符串进行替换处理，将，替换为空
df_pop['substr']=df_pop['Population'].apply(lambda x:int(x.replace(',','')))
# lambda相当于函数
# def rep(x):
#     return x.replace(',','')
# apply 循环

In [88]:
df_pop.head()

,Rank,City,State,Population,Date of census/estimate,Pop,substr
0,1,London[2],United Kingdom,"8,615,246",1 June 2014,8615246,8615246
1,2,Berlin,Germany,"3,437,916",31 May 2014,3437916,3437916
2,3,Madrid,Spain,"3,165,235",1 January 2014,3165235,3165235
3,4,Rome,Italy,"2,872,086",30 September 2014,2872086,2872086
4,5,Paris,France,"2,273,305",1 January 2013,2273305,2273305

### 通常对文本型数据进行去除前后空格处理：strip()

In [89]:
df_pop.columns

Index(['Rank', 'City', 'State', 'Population', 'Date of census/estimate', 'Pop',
       'substr'],
      dtype='object')

In [92]:
df_pop['State'].values

array([' United Kingdom', ' Germany', ' Spain', ' Italy', ' France',
       ' Romania', ' Austria', ' Germany', ' Hungary', ' Poland',
       ' Spain', ' Germany', ' Italy', ' Bulgaria', ' Czech Republic',
       ' Belgium', ' United Kingdom', ' Germany', ' Italy', ' Sweden',
       ' Italy', ' France', ' Netherlands', ' Croatia', ' Spain',
       ' Poland', ' United Kingdom', ' Poland', ' Germany', ' Latvia',
       ' Spain', ' Italy', ' Spain', ' Greece', ' Poland', ' Netherlands',
       ' Finland', ' Germany', ' United Kingdom', ' Italy', ' Germany',
       ' Germany', ' Germany', ' Spain', ' Denmark', ' United Kingdom',
       ' Portugal', ' Poland', ' Germany', ' Lithuania', ' Germany',
       ' Germany', ' Sweden', ' Ireland', ' United Kingdom', ' Germany',
       ' Netherlands', ' United Kingdom', ' Belgium', ' United Kingdom',
       ' Germany', ' Germany', ' France', ' United Kingdom', ' Poland',
       ' France', ' Spain', ' Estonia', ' United Kingdom',
       'Slovakia Slovak Republic', ' Poland', ' Spain', ' Italy',
       ' Spain', ' Italy', ' Czech Republic', ' Poland', ' Germany',
       ' Spain', ' United Kingdom', ' Poland', ' France', ' Germany',
       ' Bulgaria', ' Bulgaria', ' Spain', ' United Kingdom',
       ' Netherlands', ' Spain', ' Germany', ' United Kingdom',
       ' Denmark', ' Romania', ' United Kingdom', ' Italy', ' Greece',
       ' United Kingdom', ' Romania', ' Italy', ' Spain', ' Germany',
       ' Sweden', ' United Kingdom', ' Poland', ' Lithuania'],
      dtype=object)

In [93]:
df_pop['State'][0]

' United Kingdom'

In [91]:
df_pop['State'][0].strip() 
# strip的功能去除 默认为空格或换行符

'United Kingdom'

In [94]:
str_stri=df_pop['State'].apply(lambda x: x.strip())  # 统统整改 
str_stri

0      United Kingdom
1             Germany
2               Spain
3               Italy
4              France
5             Romania
6             Austria
7             Germany
8             Hungary
9              Poland
10              Spain
11            Germany
12              Italy
13           Bulgaria
14     Czech Republic
15            Belgium
16     United Kingdom
17            Germany
18              Italy
19             Sweden
20              Italy
21             France
22        Netherlands
23            Croatia
24              Spain
25             Poland
26     United Kingdom
27             Poland
28            Germany
29             Latvia
            ...
75     Czech Republic
76             Poland
77            Germany
78              Spain
79     United Kingdom
80             Poland
81             France
82            Germany
83           Bulgaria
84           Bulgaria
85              Spain
86     United Kingdom
87        Netherlands
88              Spain
89            Germany
90     United Kingdom
91            Denmark
92            Romania
93     United Kingdom
94              Italy
95             Greece
96     United Kingdom
97            Romania
98              Italy
99              Spain
100           Germany
101            Sweden
102    United Kingdom
103            Poland
104         Lithuania
Name: State, Length: 105, dtype: object

In [95]:
df_pop['State']=str_stri 
# 替换掉原来的国家名

In [96]:
df_pop['State'].values

array(['United Kingdom', 'Germany', 'Spain', 'Italy', 'France', 'Romania',
       'Austria', 'Germany', 'Hungary', 'Poland', 'Spain', 'Germany',
       'Italy', 'Bulgaria', 'Czech Republic', 'Belgium', 'United Kingdom',
       'Germany', 'Italy', 'Sweden', 'Italy', 'France', 'Netherlands',
       'Croatia', 'Spain', 'Poland', 'United Kingdom', 'Poland',
       'Germany', 'Latvia', 'Spain', 'Italy', 'Spain', 'Greece', 'Poland',
       'Netherlands', 'Finland', 'Germany', 'United Kingdom', 'Italy',
       'Germany', 'Germany', 'Germany', 'Spain', 'Denmark',
       'United Kingdom', 'Portugal', 'Poland', 'Germany', 'Lithuania',
       'Germany', 'Germany', 'Sweden', 'Ireland', 'United Kingdom',
       'Germany', 'Netherlands', 'United Kingdom', 'Belgium',
       'United Kingdom', 'Germany', 'Germany', 'France', 'United Kingdom',
       'Poland', 'France', 'Spain', 'Estonia', 'United Kingdom',
       'Slovakia Slovak Republic', 'Poland', 'Spain', 'Italy', 'Spain',
       'Italy', 'Czech Republic', 'Poland', 'Germany', 'Spain',
       'United Kingdom', 'Poland', 'France', 'Germany', 'Bulgaria',
       'Bulgaria', 'Spain', 'United Kingdom', 'Netherlands', 'Spain',
       'Germany', 'United Kingdom', 'Denmark', 'Romania',
       'United Kingdom', 'Italy', 'Greece', 'United Kingdom', 'Romania',
       'Italy', 'Spain', 'Germany', 'Sweden', 'United Kingdom', 'Poland',
       'Lithuania'], dtype=object)